#root {
    max-width  : 1280px;
    margin     : 0 auto;
    padding    : 2rem;
    text-align : center;
}


.containerCharacters {
    display               : grid;
    grid-template-columns : repeat(5, 1fr);
    grid-template-rows    : repeat(4, 1fr);
    grid-gap              : 1rem;
    justify-content       : center;
}


button {
    margin : 0 0.5rem 2em 0.5rem;
}

.character {
    cursor     : pointer;
    transition : transform 0.3s ease-in-out;
    position   : relative;
}

.character:hover {
    transform  : scale(1.1);
    transition : transform 0.3s ease-in-out;
}

.character label {
    position         : absolute;
    top              : 0;
    left             : 0;
    right            : 0;
    background-color : rgba(0, 0, 0, 0.6);
    color            : white;
    padding          : 0.1rem;
    font-size        : 1.5rem;
    font-weight      : 500;
}