#root {
    max-width  : 1280px;
    margin     : 0 auto;
    padding    : 2rem;
    text-align : center;
}


.containerCharacters {
    display               : grid;
    grid-template-columns : repeat(5, 1fr);
    grid-template-rows    : repeat(4, 1fr);
    grid-gap              : 1rem;
    justify-content       : center;
}


button {
    margin : 0 0.5rem 2em 0.5rem;
}

.character {
    cursor     : pointer;
    transition : transform 0.3s ease-in-out;
    position   : relative;
}

.character:hover {
    transform  : scale(1.1);
    transition : transform 0.3s ease-in-out;
}

.character img {
    border-radius : 10px;
}

.character label {
    position         : absolute;
    top              : 0;
    left             : 0;
    right            : 0;
    background-color : rgba(0, 0, 0, 0.6);
    color            : white;
    padding          : 0.1rem;
    font-size        : 1.5rem;
    font-weight      : 500;
    border-radius    : 10px 10px 0 0;
}

.characterModal {
    display          : flex;
    align-items      : flex-start;
    justify-content  : center;
    position         : fixed;
    top              : 50%;
    left             : 0;
    right            : 0;
    margin           : auto;
    width            : fit-content;
    background-color : rgba(0, 0, 0, 0.9);
    z-index          : 1000;
    transform        : translateY(-50%);
    padding          : 1rem;
    border-radius    : 10px;
    gap              : 2rem;
}

.characterModalDetails {
    display         : flex;
    flex-direction  : column;
    align-items     : flex-start;
    justify-content : center;
    width           : 400px;
}


.characterModalDetails p {
    width           : 100%;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
}

.characterModalDetails p span:last-child {
    font-weight : 500;
}